[Desktop Entry]
Encoding=UTF-8
Name=Madcoin
Comment=Madcoin P2P Cryptocurrency
Exec=madcoin-qt %u
Terminal=false
Type=Application
Icon=madcoin128
MimeType=x-scheme-handler/madcoin;
Categories=Office;Finance;
Name[en_US]=madcoin-qt.desktop.desktop
